body {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: Hind;
  font-style: normal;
}

.homepage {
  height: 100vh;
}

.navbar {
  margin-right: 5vw;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  text-align: center;
  list-style: none;
}

nav li {
  display: inline-table;
  padding: 0 40px 0px 40px;
}

nav a {
  display: block;
  color: rgba(76, 76, 76, 1);
  text-decoration: none;
  font-size: 1em;
  font-weight: normal;
  line-height: normal;
}

.logo img {
  height: 8rem;
  margin-left: 5vw;
}

.text {
  position: relative;
  margin-left: 25vh;
  color: rgba(76, 76, 76, 1);
  font-size: 10vh;
  font-weight: bold;
  line-height: 0px;
}

.textCol{
  display: flex;
  flex-direction: column;
}

.text-and-cube{
  display: flex;
  flex-direction: row;
}

.text-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
}

.text-wrapper p {
  margin: 1rem 0rem;
}

.letter,
.letter1,
.letter2 {
  display: inline-block;
  margin: 0px;
  line-height: 1em;
}

#textof {
  margin-top: 15vh;
  margin-left: 25vh;
  color: rgba(31, 31, 31, 0.6);
  font-weight: normal;
  width: 30vw;
}

iframe {
  /* position: absolute; */
  top: 15vh;
  left: 45vw;
  width: 50vw;
  height: 80vh;
}

.date {
  padding-bottom: 20vh;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg,
      #00CCFF 0%,
      #01A6FF 100%);
}

.date h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0px;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
  font-size: 5rem;
  font-weight: bold;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.date p {
  position: absolute;
  bottom: 6%;
  width: 100vw;
  margin: 0vh;
  color: #FFFFFF;
  text-align: center;
}

.countdownDesktop {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 25%;
  margin: 0vh;
  background: linear-gradient(180deg,
      #01A6FF 0%,
      #0099FF 100%);
  align-items: center;
  justify-content: center;
}

.countdownDesktop p {
  color: #FFFFFF;
  font-size: 4vh;
  line-height: 7vh;
}

.countdownDesktop p {
  color: #FFFFFF;
  font-size: 4vh;
  line-height: 7vh;
}

.what {
  width: 100vw;
  height: 100vh;
}

.what h2 {
  z-index: 10;
  position: absolute;
  margin-top: -2vh;
  margin-left: 17vw;
  color: #4C4C4C;
  font-size: 2rem;
}

.what p {
  z-index: 10;
  position: absolute;
  margin-top: 15vh;
  margin-left: 17vw;
  color: rgba(76, 76, 76, 1);
}

.fact h3 {
  z-index: 10;
  position: absolute;
  margin-top: 58vh;
  margin-left: 70vw;
  color: #4C4C4C;
}

.fact p {
  z-index: 10;
  position: absolute;
  margin-top: 61vh;
  margin-left: 70vw;
  color: rgba(76, 76, 76, 1);
}

.animation {
  margin-top: 45vh;
  transform: rotate(3deg);
}

.pc {
  width: 100vw;
  height: 100vh;
}

.pc h1 {
  z-index: 10;
  position: relative;
  margin-top: 41vh;
  color: rgba(76, 76, 76, 1);
  text-align: center;
}

.pc img {
  z-index: 10;
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.reasons {
  width: 100%;
  height: 135vh;
  background: linear-gradient(180deg,
      #CC66FF 0%,
      #9933E6 100%);
}

.reasons h1 {
  position: absolute;
  margin-top: 10vh;
  margin-left: 15vh;
  color: #ffffff;
}

#texto0 {
  position: absolute;
  margin-top: 20vh;
  margin-left: 15vh;
  color: #ffffff;
}

#texto1 {
  position: absolute;
  margin-top: 40vh;
  margin-left: 25vw;
  color: #ffffff;
}

#texto2 {
  position: absolute;
  margin-top: 50vh;
  margin-left: 65vw;
  color: #ffffff;
}

#texto3 {
  position: absolute;
  margin-top: 75vh;
  margin-left: 20vw;
  color: #ffffff;
}

#texto4 {
  position: absolute;
  margin-top: 85vh;
  margin-left: 60vw;
  color: #ffffff;
}

#texto5 {
  position: absolute;
  margin-top: 95vh;
  margin-left: 15vw;
  color: #ffffff;
}

#texto6 {
  position: relative;
  top: 120vh;
  left: 50%;
  margin: 0px;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.floating {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  animation: float 3s ease-in-out infinite;
  transform: translatey(0px);
}

.floating img {
  width: 50vw;
  height: 130vh;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

.about {
  position: relative;
  width: 100vw;
  height: 75vh;
}

.about h1 {
  position: absolute;
  margin-top: 10vh;
  margin-left: 10vw;
  color: rgba(76, 76, 76, 1);
}

.about p {
  position: absolute;
  margin-top: 20vh;
  margin-left: 10vw;
  color: rgba(76, 76, 76, 1);
}

#dots {
  z-index: 2;
  display: block;
  position: absolute;
  width: 17rem;
  height: 17rem;
  padding-top: 28vh;
  padding-left: 25vh;
}

.mouse {
  display: block;
  position: absolute;
  margin-top: -5vh;
  margin-left: 50vw;
}

.scene {
  z-index: 3;
  position: relative;
  backface-visibility: hidden;
  transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
  transform-style: preserve-3d;
  pointer-events: none;
}

.scene img {
  display: block;
  top: 0px;
  left: 0px;
  width: 42rem;
  height: 27rem;
  backface-visibility: hidden;
  transform: translate3d(-58.5px, 45.4px, 0px);
  transform-style: preserve-3d;
}

.scroller {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.scroller canvas {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.rolling {
  z-index: 5;
  position: relative;
  top: 50%;
  height: 50px;
  overflow: hidden;
  transform: translate(0, -50%);
}

.rolling h1 {
  position: absolute;
  width: 100vw;
  height: 100%;
  margin: 0;
  color: rgba(76, 76, 76, 1);
  text-align: center;
  font-size: 5em;
  line-height: 50px;
  -moz-animation: rolling 15s linear infinite;
  -webkit-animation: rolling 15s linear infinite;
  animation: rolling 15s linear infinite;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Starting position */
  /* Apply animation to this element */
}

/* Move it (define the animation) */
@-moz-keyframes rolling {
  0% {
    -moz-transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes rolling {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes rolling {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Firefox bug fix */
    /* Firefox bug fix */
  }

  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    /* Firefox bug fix */
    /* Firefox bug fix */
  }
}

.form {
  position: relative;
  width: 100vw;
  height: 30vh;
}

.form p {
  margin: 10vh;
  position: relative;
  color: rgba(76, 76, 76, 1);
  text-align: center;
}

.submiter {
  display: flex;
  position: relative;
  width: 100vw;
  align-items: center;
  flex-flow: column wrap;
}

.submiter input[type='text'] {
  position: absolute;
  width: 12vw;
  border-image-source: linear-gradient(270deg, #00CCFF 4%, #0099FF 34.76%, #CC66FF 65.33%, #6600CC 96.28%);
  border-image-slice: 1;
  border-width: 0 0 2px;
  outline: none;
  outline: 0;
  box-shadow: none;
}

.final {
  position: relative;
  width: 100vw;
  height: 25vh;
  background-color: #F0F0F3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40% 60%;
  color: rgba(76, 76, 76, 1);
}

.contacts {
  place-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.textc {
  place-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.organizer {
  place-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.link {
  place-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.conect {
  place-self: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.social {
  place-self: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.social a {
  text-decoration: none;
}

.social img {
  margin: 0px 2vw;
}

/* small phones */
@media (max-width: 576px) { 
	.text {
		position: relative;
		margin-left: 5vh;
		color: rgba(76, 76, 76, 1);
		font-size: 8vh;
		font-weight: bold;
		line-height: 0px;
	}
	
	.textCol{
		display: flex;
		flex-direction: column;
	}
	
	.text-and-cube{
		display: flex;
		flex-direction: column;
	}
	
	.text-wrapper {
		display: block;
		position: relative;
		overflow: hidden;
	}
	
	.text-wrapper p {
		margin: 1rem 0rem;
	}
	
	.letter,
	.letter1,
	.letter2 {
		display: inline-block;
		margin: 0px;
		line-height: 1em;
	}
	
	#textof {
		margin-top: 3vh;
		margin-left: 5vh;
		margin-right: 2vh;
		color: rgba(31, 31, 31, 0.6);
		font-weight: normal;
		width: 80vw;
	}
	
	iframe {
		/* position: absolute; */
		top: 0vh;
		left: 50vw;
		width: 100vw;
		height: 80vh;
		margin-top: 15vh;
	}

	.countdownDesktop {
		display: none;
	  }

	.date {
		margin-top: 120vh;
		position: relative;
		width: 100vw;
		height: 100vh;
		background: linear-gradient(180deg,
			#00CCFF 0%,
			#01A6FF 100%);
		}
}
