body {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: Hind;
  font-style: normal;
}

.navbar {
  margin-right: 5vw;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  text-align: center;
  list-style: none;
}

nav li {
  display: inline-table;
  padding: 0 40px 0px 40px;
}

nav a {
  display: block;
  color: rgba(76, 76, 76, 1);
  text-decoration: none;
  font-size: 1em;
  font-weight: normal;
  line-height: normal;
}

.logo img {
  height: 8rem;
  margin-left: 5vw;
}

#more {
  display: none;
}

#myBtn {
  cursor: pointer;
}
.full{
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows:  1fr ;
}
.schedule{
  margin-left: auto;
  margin-right: auto;

}
.days{
  display: grid;
  grid-template-columns: 15vw 15vw 1fr;
  grid-template-rows: 15vh 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
.myBtn1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

}
.gradient{
  background: linear-gradient(270deg, #00DFFD 4%, #00AEFF 34.76%, #B56DF5 65.33%, #6F0BDA 96.28%);
  background-size: 100% 2px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.myBtn2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#hora1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
#hora2{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end:4 ;
}
#hora3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end:5 ;
}
#hora4{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end:6;
}
#hora5{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end:7;
}
#hora6{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end:8;
}
#hora7{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end:9;
}
#hora8{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 9;
  grid-row-end:10;
}
#texto1{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
#texto2{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end:4 ;
}
#texto3{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end:5 ;
}
#texto4{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end:6;
}
#texto5{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end:7;
}
#texto6{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end:8;
}
#texto7{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end:9;
}
#texto8{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 9;
  grid-row-end:10;
}

.final {
  clear: both;
  justify-items: center;
  text-align: left;
  position: relative;
  width: 100vw;
  background-color: #F0F0F3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: rgba(76, 76, 76, 1);
}
.column1{
  display: flex;
  flex-direction:column;
  grid-column-start: 1;
  grid-column-end: 2;
}
.column2{
  display: flex;
  flex-direction:column;
  grid-column-start: 2;
  grid-column-end: 3;
}
.column2 img{
margin-top: 3vh;
}
.column3{
  display: flex;
  flex-direction:column;
  grid-column-start: 3;
  grid-column-end: 4;
}
.column3 img{
margin-top: 4vh;
}


.social a {
  text-decoration: none;
}

.last{
  margin-left: 2vw;
}

.ham{
  display: none;
}

.content{
  display: none;
}

@media (max-width: 576px) {

.final{
  display: flex;
  flex-direction: column;
  padding-left: 4vw;
}
.schedule{
  display: none;
}
.days{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-columns: 1fr 1fr  1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  margin-left: 4vw;
}
.myBtn1{
  grid-column-start: 1;
  grid-column-end: 3;
}
.myBtn2{
  grid-column-start: 3;
  grid-column-end: 5;
}

.navbar{
  display: none;
}

.ham{
  display: flex;
}

.content{
  display: flex;
}

.ham {
  /* always keep ham on top of everything */
  position: relative;
  z-index: 2000;
  padding-bottom: 3vh;
  padding-right: 10vw;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-size: 100%;
}

.ham img{
  width: 100%;
}


.content {
  position: absolute;
  z-index: 1999;
  top: 0;
  left: 0;
  background: #ffffff;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  /* hide the menu above the screen by default */
  transform: translateY(-100%);
  /* transition adds a little animation when sliding in and out the menu */
  transition: transform 0.2s ease;
}


.showNav {
  /* show the menu */
  transform: translateY(0);
}

/* basic nav styling below */

.content ul {
  padding: 0;
  width: 100%;
  height: 50%;
  list-style: none;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.content ul li a {
  color:  #01A6FF;
  padding-bottom: 10px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

}
